// Define variables for your color scheme
$deepblue :#006895;
$seablue :#0799ba;
$aqua :#1fa5b0;
$foam :#8ec1b8;
$sand :#dfdcd3;
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
