<div class="d-flex justify-content-center">
    <div id="map-show-booking"
     data-controller="map"
     data-map-markers-value="<%= [@markers].to_json %>"
     data-map-api-key-value="<%= ENV['pk.eyJ1IjoibWlnejIyMDUiLCJhIjoiY21hemc4ZzJiMGJzcjJsc2Fxdm83MDdweiJ9.yu0zSvl3tEeW55Rw9wjFjA'] %>"
     style="width: 100%">
    </div>
  </div>
