.confirmation {
  background-color: #006895;
  border-radius: 8px;
  padding-bottom: 16px;
  margin-bottom: auto 16px;
  color:#dfdcd3;
  text-align: center;
}

.booking-details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.dateinfo, .priceinfo {
  background-color: #dfdcd3;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: large;
  margin-bottom: auto;
  color:#006895;
    p{
      margin: auto;
    }

}
#checkin, #pricenight{
  border-bottom: 0.5px solid rgb(155, 153, 153);
}

#nights{
  opacity: 0.7;
  font-size: small;
  text-align:center;
}
#countrydetails{
  text-align: center;
  color:#dfdcd3;
  border-radius: 8px;
    h2{
      padding-top: 16px;
    }
}


#map-show-booking{
  border-radius: 8px;
}
