.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $deepblue;
  padding: 4px 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.200);
  border-bottom: solid rgba(0, 0, 0, 0.200) 1px;

  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100px;
      height: auto;
      object-fit: contain;
    }

    h4 {
      color: white;
      margin: 0;
      font-size: 30px;
      font-weight: 200;
    }
  }

  .nav-link {
    font-size: 18px;
    color: $light-gray;
    font-weight: 500;
    text-decoration: none;
    padding:4px 8px;

    &:hover {
      color: $sand;
    }
  }
}

.navbar-lewagon .nav-links {
  display: flex;
  gap: 1rem;
}
